.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  width: 350px;
  height: 100vh;
  top: 63px;
  background-color: #6e8f2b;
  padding-top: 50px;
  border-right: 3px solid olive;
}

.side-bar__title {
  align-self: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2.25rem;
}

.side-bar__sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
  margin-top: 35px;
}

.switch {
  position: relative;
  width: 70px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 48px;
  border: 2px solid #1f290b;

  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffe30f;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.side-bar__count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 15px;
}

.count__button {
  align-self: center;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid olive;
  background-color: #e7e010;
  margin-top: 20px;
}

.side-bar__summary {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}

.summary__text {
  font-size: 1.2rem;
  font-weight: normal;
}
